# ---- NODE.JS ----
Backend/node_modules/
Backend/.env
Backend/dist/
Backend/logs/
Backend/npm-debug.log*

# ---- VUE / FRONTEND ----
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# ---- SISTEMA / GENERAL ----
.DS_Store
Thumbs.db
*.log

# ---- IDEs ----
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
